<div>
    <div class="row mt-5 p-4 bg-dark text-light">

        <div class="col-lg-6 mt-3">
            <h3>
                <img
                src="https://i.postimg.cc/pdVcM49h/png-transparent-shopping-cart-computer-icons-online-shopping-shopping-cart-angle-shopping-cart-softw.png"
                alt="Logo" width="40" height="35" class="d-inline-block align-text-top"> Shoppy
            </h3>
            <p class="pt-3">Shoppy offers the best fashion accessories for men and women to add that stylish finishing touch to your outfits. Complement your smart workwear with analogue, digital and smartwatches. A coordinated leather belt and wallet with your crisp shirt and trousers are small but significant details that will definitely help you command attention. </p>
        </div>

        <div class="col-lg-2">
            <h4></h4>
        </div>

        <div class="col-lg-4 p-3">
            <h3>Contact</h3>
           
                <i class="fa-solid fa-envelope fs-5 pe-3 mt-4"></i>
                <i class="fa-brands fa-facebook fs-5 pe-3"></i>
                <i class="fa-brands fa-instagram fs-5 pe-3"></i>
                <i class="fa-brands fa-twitter fs-5 pe-3"></i>
                <i class="fa-brands fa-linkedin fs-5 pe-3"></i>
                <i class="fa-brands fa-github fs-5 pe-3"></i>
            
        </div>

    </div>
</div>