<app-header></app-header>

<div *ngIf="!buyStatus" class="m-4  ">

  <form [formGroup]="checkOut" class="w-50 shadow container py-3">
    <h3 class="text-center pb-2 py-2">Please Add Delivery Details</h3>

    <div class="form-floating mb-3 ">
      <input formControlName="email" type="email" class="form-control" id="email" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating mb-3">
      <textarea formControlName="address" class="form-control" placeholder="Leave a comment here" id="address"
        style="height: 50px"></textarea>
      <label for="floatingTextarea2">Address With Landmark</label>
    </div>
    <div class="form-floating mb-3">
      <input formControlName="place" type="text" class="form-control" id="place" placeholder="name@example.com">
      <label for="floatingInput">Place</label>
    </div>

    <div class="form-floating mb-3">
      <input formControlName="pin" type="text" class="form-control" id="pin" placeholder="name@example.com">
      <label for="floatingInput">PIN</label>
    </div>
    <div class="d-flex justify-content-between ">
      <button (click)="cancel()" class="btn btn-outline-danger" type="button">Cancel</button>
      <button (click)="proceedToBuy()" class="btn btn-outline-success" type="button">Proceed to Buy</button>
    </div>

  </form>
</div>


<div *ngIf="buyStatus" class="container shadow p-5 w-50">
  <h5>Delivery Address</h5>
  <hr>
  <h4 class="text-center">Final Price <span class="text-success">$ {{totalPrice}}</span></h4>
  <div class="pb-2">
    <label for="">{{checkOut.value.email}}</label> <br>
    <label for="">{{checkOut.value.address}}</label> <br>
    <label for="">{{checkOut.value.place}}</label> <br>
    <label for="">{{checkOut.value.pin}}</label> <br>
  </div>
  <hr>

  <div class="d-flex justify-content-between mb-5">
    <button (click)="cancelPayment()" class="btn btn-outline-danger" type="button">Cancel Payment</button>
    <button (click)="payment()" class="btn btn-outline-success" type="button">Proceed to Pay</button>
  </div>


  <ngx-paypal [config]="payPalConfig"></ngx-paypal>

</div>